p {
		background-color: darkgreen;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 475%;
		font-weight: bold;
		text-align: center;
}

h3 {
		background-color: red;
		height: 500px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-size: 500%;
		font-weight: bold;
		text-align: center;
}