@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<br />

<p><strong>Company Information</strong> <br />
  INSURE-U CarInsurance, Inc. is a licensed insurance agency that has been writing automobile insurance in many states throughout the country for over 100 years.</p>
<br /> 
<p><strong>We accept most cars and drivers</strong> <br />
  INSURE-U offers auto insurance for drivers that have had a history of driving violations or accidents, have not kept their insurance in force or have less than perfect credit. So, you can still find a good price for your auto insurance needs.</p>
<br />
<p><strong>Low down payments</strong><br />
  We realize that you have other things you want to spend your money on. Therefore, it is our goal to offer a low down payment option to every policyholder. We offer payment by credit card, and we accept electronic checks in some states.</p>
<br />
<p><strong>Convenient monthly payments</strong><br />
  We combine our budget-sensitive payment plans with electronic verification of driver information and vehicle information when you are buying the policy so there are no surprises to you down the road.</p>
<br />
<p><strong>Quality Claims Handling</strong><br />
  Our policy and claims service organizations are focused on serving the customer to complete the recipe for success.</p>

