@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>

<address>
    123 Acme Blvd<br />
    Springfield, IL 12345<br />
    <abbr title="Phone">Ph:</abbr>
    555-123-4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Mail.com">Support@Mail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@Mail.com">Marketing@Mail.com</a>
</address>