@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1>INSURE-U CarInsurance</h1>
    <p class="lead">Welcome to INSURE-U CarInsurance, the one stop shop for all your Car Insurance needs.</p>
    <p><a href="/Insuree/Create" class="btn btn-primary btn-lg">Quick Quote &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4 centered">
        <h2><center>Get A Quote Today!!</center></h2>
        <p>
            What are you waiting for, Click the button below to get started!!
        </p>
        <p><a class="btn btn-default" href="/Insuree/Create">Quick Quote &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><center>About Us</center></h2>
        <p>INSURE-U CarInsurance, Inc. has been taking care of customers for over 100 years.</p>
        <p><a class="btn btn-default" href="/Insuree">View Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><center>Contact Us</center></h2>
        <p>Please contact us if you have any questions or need assistance.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>